
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.home-page__header{
 height: 55px;
 }
 body{
  background-image: linear-gradient(rgb(198, 246, 154), rgb(168, 229, 255));
}

.home-page__header__bottom{
 background-color:rgb(198, 246, 154);
 height: 20px;
 display: flex;
 gap: 10px;
 padding-left: 1rem;
 border: 0.5px solid rgb(7, 146, 37);
 }
.wraper_todo{
display: flex;
flex-direction: column;
gap: 0.5rem;
align-items:center ;
margin-bottom: 10px; 

}
 .todo{
border: 2px solid rgb(64, 117, 203);
border-radius: 3px;
 width:40rem; 
 height: 6rem;
 overflow: hidden;
 padding: 1rem;
 background-color: #fff;
 }
 .date{
  margin-left: 3rem;
 }
 .row1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  color: blue;
 }
 .right{
width: 3rem;
margin-left: 135px;
 }
 /* another way to hovering each item */
 /* .pagination{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
 }
 .page{
  border:1px solid rgb(37, 80, 153) ;
  padding: 0.70rem;
  list-style-type: none;
  cursor: pointer;
  background-position: 0 -45px;
  transition: background-position 0.5s;
 } */

 /* .active{
  color: #fff;
  background-image: linear-gradient(#2d6df6,#2d6df6);
  background-repeat: no-repeat;
  background-position: 0 0;
 } */
 a{
  text-decoration: none;
  color: rgb(188, 188, 188);
 
 }
 .edit,.trash{
  color: rgb(7, 18, 182);
 }
 .row2{
  color: black;
  padding-top: 10px;
 }
 .home-page__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .overlay{
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
 }
 .modal{
  border:1px solid black  ;
  padding:0.5rem;
  margin: 1rem;
  width: 20rem;
  display: none;
  margin-bottom: 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(224, 220, 220);
 }
 
 .main{
  padding: 0.5rem;
 }
 #danger{
  color: red;
 }
 .footerBtn{
  padding: 0.5rem;
  width: 5rem;
  color: white;
  border-radius: 5px;
  border: none;
 }
 .footer{
  margin-top: 0.5rem;
 }
 .btn1{
  background-color: rgb(227, 80, 80);
 }
 .btn2{
  background-color: rgb(32, 161, 32);
 }

li{
  cursor: pointer;
}
 .page{
  border: 1px solid gray;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  list-style: none;
}
.pagination{
  display: flex;
  gap: 1rem;
  text-align: center;  
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}
 .active_btn{
  background-color: rgb(16, 157, 245);
}